server:
  port: 8084

spring:
  application:
    name: contract-service

  datasource:
    url: jdbc:mysql://host.docker.internal:3306/contract_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  cloud:
    openfeign:
      discovery:
        enabled: true
      httpclient:
        enabled: true
      okhttp:
        enabled: false

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    hostname: contract-service    # hoáº·c gateway-service
    prefer-ip-address: false

management:
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  secret: mysecretkeymysecretkeymysecretkey123

file:
  storage:
    base-path: uploads/contracts
    appendix-path: uploads/appendix