version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend-network

  # ============================
  # EUREKA SERVER
  # ============================
  eureka-server:
    build: ./eureka
    container_name: eureka-server
    ports:
      - "8761:8761"
    expose:
      - "8761"
    networks:
      - backend-network

  # ============================
  # GATEWAY
  # ============================
  gateway-service:
    build: ./gateway
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_APPLICATION_NAME: gateway-service
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED: true
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # AUTH SERVICE
  # ============================
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      # EUREKA_INSTANCE_IP_ADDRESS: $(hostname -i)
      SPRING_PROFILES_ACTIVE: docker
      SPRING_APPLICATION_NAME: auth-service
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/auth_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123

      SERVICES_RESIDENT_URL: http://resident-service:8083
      SERVICES_TENANT_URL: http://multi-tenant-service:8082
      SERVICES_MONITORING_URL: http://monitoring-service:8088
      SERVICES_NOTIFICATION_URL: http://notification-service:8087
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # RESIDENT SERVICE
  # ============================
  resident-service:
    build: ./resident-service
    container_name: resident-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/resident_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # MULTI-TENANT SERVICE
  # ============================
  multi-tenant-service:
    build: ./multi-tenant-service
    container_name: multi-tenant-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/tenant_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # MONITORING SERVICE
  # ============================
  monitoring-service:
    build: ./monitoring-service
    container_name: monitoring-service
    ports:
      - "8088:8088"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/monitoring_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # NOTIFICATION SERVICE
  # ============================
  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8087:8087"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/notification_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # CONTRACT SERVICE
  # ============================
  contract-service:
    build: ./contract-service
    container_name: contract-service
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/contract_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # PAYMENT SERVICE
  # ============================
  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/payment_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

  # ============================
  # SERVICE CATALOG SERVICE
  # ============================
  service-catalog-service:
    build: ./service-catalog-service
    container_name: service-catalog-service
    ports:
      - "8086:8086"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/service_catalog_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka/
      JWT_SECRET: mysecretkeymysecretkeymysecretkey123
    depends_on:
      - eureka-server
    networks:
      - backend-network

volumes:
  mysql_data:

networks:
  backend-network:
    driver: bridge
