spring:
  application:
    name: discoveryserver
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true

server:
  port: 8761

eureka:
  instance:
    hostname: eureka-server
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
  client:
    fetch-registry: false
    register-with-eureka: false